h1 Parfymer sida
            nav
                h3
                    a(href="/") HOME
                h3
                    a(href="#register") Login/register
                h3
                    a(href="/session") Session
                h3
                    a(href="/products") Products