style.

    nav{
        display: flex;
        gap:20px; 
        padding:4%;
        border: 1px solid black;
    }

    .perfumes{
        padding:3%;
        border: 1px solid black;
    }
    body{
        background-color: #f0e6f6;
    }
    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    .forms form{
        display:grid;
        gap:14px;
        padding:3%;
        border: 1px solid black;
   
    }

    .forms input{
        padding:1%;
        font-size:1.2rem;
    }

    :target{
        border:3px solid blue;
    }