style.

    nav{
        display: flex;
        gap:20px; 
        padding:4%;
        border: 1px solid black;
    }

    .perfumes{
        padding:3%;
        border: 1px solid black;
    }